#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL                     &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &tog 1                                                                                                 &bootloader            &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB                       &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                                                                  &none                  &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp LS(LA(LC(LEFT_COMMAND)))  &kp A      &kp S     &kp D     &kp F      &kp G   &kp LEFT_ALT   &kp LEFT_COMMAND      &kp F18               &kp DEL            &kp F19                  &kp RIGHT_ALT          &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT                     &kp Z      &kp X     &kp C     &kp V      &kp B                                        &kp LEFT_CONTROL      &kp RIGHT_COMMAND                                                  &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
&mo 1                         &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BACKSPACE  &mt LEFT_COMMAND ESC  &kp LEFT_ALT          &kp RCTRL          &mt RIGHT_COMMAND ENTER  &mt RIGHT_SHIFT SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &mo 1
            >;
        };

        hjklarrow {
            display-name = "Base";
            bindings = <
&kp EQUAL                     &kp N1          &kp N2          &kp N3           &kp N4     &kp N5  &tog 0                                                                                      &mo 1         &kp N6          &kp N7    &kp N8     &kp N9     &kp N0    &kp MINUS
&kp TAB                       &kp Q           &kp UP_ARROW    &kp E            &kp R      &kp T   &bt BT_SEL 0                                                                                &bt BT_SEL 2  &kp Y           &kp U     &kp I      &kp O      &kp P     &kp BSLH
&kp LS(LA(LC(LEFT_COMMAND)))  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F      &kp G   &bt BT_SEL 1  &kp LEFT_COMMAND  &kp LEFT_ALT          &kp LGUI           &kp RIGHT_CONTROL  &none         &kp LEFT_ARROW  &kp DOWN  &kp UP     &kp RIGHT  &kp SEMI  &kp SQT
&kp LSHFT                     &kp Z           &kp X           &kp C            &kp V      &kp B                                   &kp LEFT_CONTROL      &kp RIGHT_COMMAND                                   &kp N           &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp RSHFT
&mo 0                         &kp GRAVE       &kp CAPS        &kp LEFT         &kp RIGHT          &kp BSPC      &kp TAB           &kp ESC               &kp F19            &kp ENTER          &kp SPACE                     &kp UP    &kp DOWN   &kp LBKT   &kp RBKT  &none
            >;
        };
    };
};
